

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
	<h2>Menú</h2>
	<div>
		<li>@Html.ActionLink("Crear pedido", "Pedido", "Info")</li>
		<li>@Html.ActionLink("Ordenar", "Orden", "Info")</li>
		<li>@Html.ActionLink("Restablecer", "Restablecer", "Info")</li>
	</div>
</body>
</html>
