
@{
    ViewBag.Title = "SubirInfo";
}

<h2>SubirInfo</h2>
<div class="jumbotron">
	<h2>Farmacia Hipócrates</h2>
	<p><a href="https://principal.url.edu.gt/" class="btn btn-primary btn-lg"> Subir Data &uarr;</a></p>
</div>

